@{
    ViewBag.Title = "About";
}
<BR />
<BR />

<p></p>
<div class="row">
    <div class="jumbotron">
        <BR />
        <h2>Programa completo de recompensas e fidelidade para Academias e seus profissionais</h2>
        <br />
        <p>Sistema que conecta personal trainers, clientes e academias. </p>
        <p>Personal Trainer organiza os processos de gestão de clientes e locais de trabalho, através de um App. </p>
        <p>Os clientes utilizam outro App para localizar academias e profissionais através de geolocalização. </p>
        <p>As academias parceiras permitem que os Personal Trainers cadastrados atuem em suas dependências por locação do espaço. </p>
        <p>O controle desse coworking é feito através da plataforma P4ALL.  </p>
        <p>Caso o Personal utilize uma academia parceira para execução de seu trabalho, ele paga uma taxa de aluguel que varia proporcionalmente ao seu vínculo com o estabelecimento, sua qualificação e produtividade.  </p>
        <p>Nossos diferenciais são: <br />(1) gratuidade das ferramentas disponibilizadas aos Personal Trainers e clientes; <br />(2) estratégia de mercado em relação a academias parceiras para gerarmos monetização com sua locação, e aumentar a taxa de ocupação em horários de pouco uso.  </p>
        <p>Reconhecemos a importância que as academias têm no Brasil, portanto nos preocupamos em não canibalizar seu mercado, e sim promover parcerias para alavancar nosso produto.</p>
    </div>
</div>