@{
    ViewData["Title"] = "Página Inicial";
}

<BR />
<BR />
<BR />
<BR />
<BR />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/passo-1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/passo-2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/passo-3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/passo-4.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/passo-5.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<BR />

<BR />
<div style="text-align:center;">
    <a class="btn btn-default" href="Home/Contact" style="text-align:center;background-color:#337ab7; color:white; font-size:24px">
        CRIE SUA CONTA &raquo;
    </a>
</div>
<BR />
<BR />
<div style="text-align:center;">
    <iframe width="560" style="max-width:100%" height="315" src="https://www.youtube.com/embed/il6zzofqWXE" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
<BR />
<div style="text-align:center;">
    <h1>Porque usar P4ALL em sua Academia?</h1>
</div>
<BR />
<div class="row">
    <div class="col-md-3" style="text-align:center;">
        <img src="~/images/ico-economy.png" alt="ASP.NET" />
        <h2>Gestão de serviços</h2>
        <p>Sincronize a agenda dos Personal Trainers com sua academia para uma maior produtividade.</p>
        <p>
            <a class="btn btn-default" href="Home/About">Saiba mais »</a>
        </p>
    </div>
    <div class="col-md-3" style="text-align:center;">
        <img src="~/images/ico-safe.png" alt="ASP.NET" />
        <h2>Otimização de espaço</h2>
        <p>Gerencie a utilização do espaço da academia evitando lotações e oferecendo uma melhor experiência para clientes e profissionais.</p>
        <p>
            <a class="btn btn-default" href="Home/About">Saiba mais »</a>
        </p>
    </div>
    <div class="col-md-3" style="text-align:center;">
        <img src="~/images/ico-form.png" alt="ASP.NET" />
        <h2>Regulamentação do Trabalho</h2>
        <p>Estabeleça a correta relação de trabalho com seus Personal Trainers, minimizando os riscos de ações trabalhistas.</p>
        <p>
            <a class="btn btn-default" href="Home/About">Saiba mais »</a>
        </p>
    </div>
    <div class="col-md-3" style="text-align:center;">
        <img src="~/images/ico-economy.png" alt="ASP.NET" />
        <h2>Fidelização de Clientes</h2>
        <p>Propicie uma melhor experiência à seus clientes e aumente a taxa de fidelização à sua academia. Programa de vantagens e benefícios.</p>
        <p>
            <a class="btn btn-default" href="Home/About">Saiba mais »</a>
        </p>
    </div>
</div>
